<style type="text/css">


/* general setting for all the tags in all of my recipe world pages*/
html,body,h1,h2,h3,ul,ol,li,p,a
{
	padding:0;
	border:0;
	margin:0;
}

.header
{
	border:1px solid black;
        width:100%;
        height:20px;
        background-color:white; 
}
input.hammenubutton
{
	background-color:transparent;
        background-image:url(images/HamMenuImage.png);
	background-repeat:no-repeat;
	height:55px;
        width:60px; 	
        border:none;
        padding:0px 0px 0px 20px;
        margin-top:0px;
        marign-right:0px;
        margin-bottom:0px;
        margin-left:25px; 
        vertical-align:middle;
        cursor:pointer;


}

input.signin
{
        background-color:transparent;
        background-image:url(images/SignIn.png);
	background-repeat:no-repeat;
	height:50px;
        width:120px; 	
        border:none;
        vertical-align:bottom;
        cursor:pointer;
}

input.signup
{
        background-color:transparent;
        background-image:url(images/SignUp.png);
	background-repeat:no-repeat;
	height:50px;
        width:120px; 	
        border:none;
        vertical-align:bottom;
        cursor:pointer;
}
input.search
{
	width:300px;
        height:28px;
}